<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <form class="form-horizontal">
          <div class="box-body">
            <div class="col-md-6 button">
              <h3 class="box-title">Buttons</h3>
              <div class="form-group">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                  <app-button [ngName]="btnName" [ngClasses]="btnClass"
                              [ngClick]="btnClick" [ngDisabled]="btnDisabled"></app-button>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">按钮颜色</label>
                <div class="col-sm-10">
                  <div class="radio">
                    <label>
                      <input type="radio" [(ngModel)]="previewConfig.btnclass" name="optionsRadios" id="optionsRadios1"
                             value="btn-default"
                             (change)="_btnRadio(previewConfig.btnclass)">
                      Default
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" [(ngModel)]="previewConfig.btnclass" name="optionsRadios" id="optionsRadios2"
                             value="btn-primary" (change)="_btnRadio(previewConfig.btnclass)">
                      Primary
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" [(ngModel)]="previewConfig.btnclass" name="optionsRadios" id="optionsRadios3"
                             value="btn-success" (change)="_btnRadio(previewConfig.btnclass)">
                      Success
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" [(ngModel)]="previewConfig.btnclass" name="optionsRadios" id="optionsRadios4"
                             value="btn-info" (change)="_btnRadio(previewConfig.btnclass)">
                      Info
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" [(ngModel)]="previewConfig.btnclass" name="optionsRadios" id="optionsRadios5"
                             value="btn-danger" (change)="_btnRadio(previewConfig.btnclass)">
                      Danger
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" [(ngModel)]="previewConfig.btnclass" name="optionsRadios" id="optionsRadios6"
                             value="btn-warning" (change)="_btnRadio(previewConfig.btnclass)">
                      Warning
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">自适应</label>
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"
                             [checked]="previewConfig.isBlock"
                             (change)="_onChange($event)"
                      >
                      自适应
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">禁用</label>
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"
                             [checked]="previewConfig.btnDisabled"
                             (change)="_btnDisabled($event)"
                      >
                      禁用
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- /.box -->
      </div>
    </div>
    <!-- /.col -->
  </div>
</section>
<!-- /.content -->

