<!--The whole content below can be removed with the new code.-->
<div class="wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <!-- Content Wrapper. Contains page content -->
  <app-content-panel></app-content-panel>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <app-footer></app-footer>

  <!-- Control Sidebar -->
  <app-control-sidebar></app-control-sidebar>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
